{% extends 'school/base.html' %}

{% load staticfiles %}

{% block title %}添加课程{% endblock %}


{% block css_block %}
  <link rel="stylesheet" href="{% static 'school/styles/addCourse.css' %}" >
{% endblock %}

{% block body_block %}
	<div id="content">
        <div class="content-top">
            <h3>创建课程夹</h3>
            <h1>{{ title }}的课程</h1>
        </div>
        <div class="content-down">
            <div class="left UI-box">
                <span>前端工程师</span>
                <img src="{% static 'school/images/addBtn.png' %}" />
                <div class="UI-box1">         
                </div>
                <div class="UI-box2">
                </div>
                <div class="UI-box3">
                </div>
            </div>
            <div class="right UI-box">
                 <span>前端工程师</span>
                 <img src="{% static 'school/images/addBtn.png' %}" />
                <div class="UI-box1">
                </div>
                <div class="UI-box2">
                </div>
                <div class="UI-box3">
                </div>
            </div>
            <div class="down-left UI-button-style01">
            <a href="/school/createLesson/"><img src="{% static 'school/images/addCourseBtn.png' %}" /><span>&nbsp;创建新课程</span></a>
            </div>
            <div class="down-right UI-button-style01">
            <img src="{% static 'school/images/SearchBtn.png' %}" /><span>&nbsp;查找已有课程</span>
            </div>
        </div>
        <div class="skip-button">
        <a href="/school/profileCenter/">跳过这一步</a>
        </div>
    </div>
{% endblock %}