{% extends 'school/base.html' %}

{% load staticfiles %}

{% block title %}添加课程夹{% endblock %}

{% block css_block %}
  <link rel="stylesheet" href="{% static 'school/styles/addFolder.css' %}" >
{% endblock %}


{% block body_block %}
	<div id="content">
        <div class="content-top">
            <h1>创建新的课程夹</h1>
        </div>
        <div class="content-down">
          <div class="content-down-item">
            课程夹标题：<textarea class="c1" cols="15" rows="1" placeholder="输入你要的课程夹名"></textarea>
          </div>
          <div class="content-down-item">
            课程夹描述：<textarea class="c2" cols="15" rows="2" placeholder="描述你的课程夹内容"></textarea>
          </div>
          <div class="content-down-item">
            <a href="/school/addCourse/"><input id="createrBtn" type="submit" value="创建" /></a>
          </div>
        </div>
  </div>
{% endblock %}