{% extends 'school/base.html' %}

{% load staticfiles %}

{% block title %}课程内容类型选择{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'school/styles/createLessonDefine.css' %}" >
{% endblock %}


{% block js_block %}
{% endblock %}


{% block body_block %}
	<div id="content">
        <div class="content-top">
            <h3>添加课程 - 课程类型选择</h3>
            <h1>前端工程师的课程</h1>
        </div>
        <div class="content-down">
            <div class="left UI-box">
                <span>前端工程师</span>
                <img src="{% static 'school/images/addBtn.png' %}" />
                <div class="UI-box1">         
                </div>
                <div class="UI-box2">
                </div>
                <div class="UI-box3">
                </div>
            </div>
            <div class="right UI-box-empty">
              <div class="down-left UI-button-style01">
                <a href="/school/createLessonVideo/">
                  <img src="{% static 'school/images/videoBtn.png' %}" /><span>&nbsp;添加视频</span>
                </a>
              </div>
              <div class="down-left UI-button-style01">
                <a href="/school/createLessonText/">
                  <img src="{% static 'school/images/textBtn.png' %}" /><span>&nbsp;添加文本</span>
                </a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}