{% extends 'school/base.html' %}

{% load staticfiles %}

{% block title %}添加课时 - 视频{% endblock %}


{% block css_block %}
<link rel="stylesheet" href="{% static 'school/styles/createLessonAdd.css' %}" >
{% endblock %}


{% block js_block %}
    {{ form.media }}
    <script type="text/javascript" src="{% static 'school/scripts/changeNumber.js' %}"></script>
    <script type="text/javascript" src="{% static 'school/scripts/createLesson.js' %}"></script>
{% endblock %}

{% block body_block %}
<div class="content">
        <div class="content-title">
        <form method="post" action="/school/profileFolderDetails/">
        离散数学
        </div>
        <div class="content-wrap">      
          <div class="content-top">
          </div>
          {{ form.as_table }}
          <div class="content-down">
            <div class="content-down-btn tureleft" id="add">
              <a href="#">
              <img src="{% static 'school/images/add_Box_add.png' %}" />
               <div class="content-down-btn-text">添加文本课时</div>
              </a>
              
            </div>
            <div class="content-down-btn" id="add2">
              <a href="#">
              <img src="{% static 'school/images/add_Box_add.png' %}" />
              <div class="content-down-btn-text">添加视频课时</button>
              </a>
            </div>
          </div>
          {% csrf_token %}
          <input id="saveBtn" type="submit" value="保存">
          </form>
        </div>
    </div>
{% endblock %}