{% extends 'school/base.html' %}

{% load staticfiles %}

{% block title %}主页{% endblock %}


{% block css_block %}
  <link rel="stylesheet" href="{% static 'school/styles/index.css' %}" >
{% endblock %}

{% block js_block %}
  <script type="text/javascript" src="{% static 'school/scripts/login.js' %}"></script>
{% endblock %}


{% block body_block %}
	<div id="content">
		<div class="mainImgs">
				<img src="{% static 'school/images/indexBig01.png' %}" />
		</div>
		<div id="downImages">
			<img src="{% static 'school/images/indexDown.Png' %}" />
		</div>
		<div id="courseRe">
			<div id="courseReL">
				<div id="content-Course-Re-Left">
					<h1 class="index-h1">优秀课程推荐</h1>
					<ul>
						<li>算法导论</li>
						<li>编译原理</li>
						<li>数据结构</li>
						<li>离散数学</li>
						<li>数据库原理</li>
						<li>网页设计与制作</li>
						<li>JavaScript 程序设计</li>
					</ul>
				</div>
        <div class="index-arrow">
        </div>
			</div>
			<div id="courseReR">
				<div class="contentReR">
				
				</div>
				<div class="contentReR">
				
				</div>
				<div class="contentReR">
				
				</div>
				<div class="contentReR">
				
				</div>
				<div class="contentReR">
				
				</div>
				<div class="contentReR">
				
				</div>
			</div>
		</div>
        <div class="bgWhite">
		<div id="courseFolderRe">
            <div id="course-Folder-ReL">
                <div id="course-Folder-Re-Left">
                    <h1 class="index-h1">课程夹推荐</h1>
                    <ul>
                            <li>前端工程师</li>
                            <li>交互设计师</li>
                            <li>UI 设计师</li>
                            <li>程序猿</li>
                            <li>字体设计师</li>
                            <li>摄影师</li>
                            <li>架构师</li>
                        </ul>
                </div>
                 <div class="index-arrow">
                </div>
            </div>
			<div id="courseFolderReR">
          <div class="course-Folder-Re-item">
          </div>
			</div>
		</div>
		<div id="createrFolder">
			<div id="clickBtn">
				<a href="/school/addFolder/"><input id="createrBtn" type="submit" value="创建课程夹" /></a>
			</div>
      </div>
      </div>
	</div>
{% endblock %}