{% extends 'school/base.html' %}

{% load staticfiles %}


{% block title %}
课程学习
{% endblock %}


{% block css_block %}
<link rel="stylesheet" href="{% static 'school/styles/view.css' %}" >
{% endblock %}


{% block js_block %}

{% endblock %}

{% block body_block %}
    <div class="content">
        <div class="left-arrow"><img src="{% static 'school/images/left-arrow.png' %}" /></div>
        <div class="content-top-show">
            <div class="content-top-title">
                <span>课程夹></span><span>前端工程师</span><br/>
                离散数学&nbsp第二节
            </div>
            <div class="content-top-video"><img src="{% static 'school/images/video.png' %}" /></div>
        </div>
        <div class="content-top-notes">
            <div class="content-top-notes-title">
                <div class="notes-add left"><img src="{% static 'school/images/add-note.png' %}" />&nbsp;笔记</div>
                <div class="translate right"><img src="{% static 'school/images/tran-icon.png' %}" />&nbsp;翻译</div>
            </div>
            <div class="content-top-notes-links">
                <div class="left my-notes"><a href="">我的笔记</a></div>
                <div class="right best-notes" ><a href="">优秀笔记</a></div>
                <textarea cols="45" rows="5"  placeholder="记录点什么吧。"></textarea>
            </div>
            <div class="content-top-button-items"><img src="" /><input class="personal-note" type="checkbox" />私密<input class="time-frame" type="checkbox" />添加时间点</div>
         </div>
        <div class="right-arrow"><img src="{% static 'school/images/right-arrow.png' %}" /></div>
        <div class="content-down"></div>
    </div>
{% endblock %}