{% extends 'school/base.html' %}

{% load staticfiles %}

{% block title %}个人中心 - 课程夹详情{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'school/styles/profile-folder.css' %}" >
{% endblock %}

{% block js_block %}{% endblock %}

{% block body_block %}
    <div class="content">
        <div class="content-top">
                <div>前端工程师</div>
                <div class="content-top-item right">
                    <span><b class="content-top-number">5</b> 门课程</span>
                </div>
                <div class="content-top-item left">
                    <span>学习了 <b class="content-top-number">10</b> 次</span>
                </div>
         </div>
        <div class="content-center">
             <div class="content-list">
                <h3>基础课程</h3>
                <img src="{% static 'school/images/add_Box_add.png' %}" />
             </div>
             <div class="content-list-item">
                <div class="content-list-items">
                    <a href="/school/lessonDetails/">
                    <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-list-item-name-bg"></div>
                    <div class="content-list-item-name">编译原理</div>
                    </a>
                </div>
                <div class="content-list-items">
                    <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-list-item-name-bg"></div>
                    <div class="content-list-item-name">编译原理</div>
                </div>
                 <div class="content-list-items">
                    <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-list-item-name-bg"></div>
                    <div class="content-list-item-name">编译原理</div>
                </div>
                <div class="content-list-items">
                    <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-list-item-name-bg"></div>
                    <div class="content-list-item-name">编译原理</div>
                </div>
                <div class="content-list-items">
                    <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-list-item-name-bg"></div>
                    <div class="content-list-item-name">编译原理</div>
                </div>
             </div>
        </div>
   
        <div class="content-down">
            <div class="content-list"><h3>进阶课程</h3><img src="{% static 'school/images/add_Box_add.png' %}" /></div>
            <div class="content-list-item">
                <div class="content-list-items">
                    <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-list-item-name-bg"></div>
                    <div class="content-list-item-name">编译原理</div>
                </div>
                <div class="content-list-items">
                    <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-list-item-name-bg"></div>
                    <div class="content-list-item-name">编译原理</div>
                </div>
                 <div class="content-list-items">
                    <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-list-item-name-bg"></div>
                    <div class="content-list-item-name">编译原理</div>
                </div>
                <div class="content-list-items">
                    <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-list-item-name-bg"></div>
                    <div class="content-list-item-name">编译原理</div>
                </div>
                <div class="content-list-items">
                    <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-list-item-name-bg"></div>
                    <div class="content-list-item-name">编译原理</div>
                </div>
             </div>
        </div>
   </div>
{% endblock %}