{% extends 'school/base.html' %}

{% load staticfiles %}

{% block title %}搜索结果 - 课程夹{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'school/styles/searchResults.css' %}" >
{% endblock %}

{% block js_block %}

{% endblock %}

{% block body_block %}
<div id="content">
        <div class="content-top">
            <div class="content-top-item">
                <div class="content-top-items content-top-items-activity">35 课程夹</div>
                <div class="content-top-items content-top-center "><a href="/school/searchResults_c/">62 课程</a></div>
                <div class="content-top-items ">22 学习者</div>
            </div>
        </div>
        <div class="content-down">
            <div class="content-down-item">
                <div class="content-down-items textLeft">
                <div class="content-down-items-title textLeft">前端工程师</div>
                <div class="content-down-items-img01 textLeft">
                     <img src="{% static 'school/images/profile_sample_image.png' %}" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     算法导论
                     </div>
                </div>
                <div class="content-down-items-img02">
                     <img src="{% static 'school/images/UI-folder-editor-sample.png' %}" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     编译原理
                     </div>
                </div>
                <div class="content-down-items-img02">
                    <img src="{% static 'school/images/UI-folder-editor-sample2.png' %}" />
                    <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     数据结构
                     </div>
                </div>
                <div class="content-down-buttom">
                    <img src="{% static 'school/images/sample_proflie_icon.png' %}" />
                    <div class="content-down-name">YU JIAJIA</div>
                    <div class="content-down-buttom-botton"><a href="/school/profileFolderDetails/">学习</a></div>
                </div>
                </div>
            </div>
            <div class="content-down-item">
                <div class="content-down-items textLeft">
                <div class="content-down-items-title textLeft">前端工程师</div>
                <div class="content-down-items-img01 textLeft">
                     <img src="{% static 'school/images/profile_sample_image.png' %}" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     算法导论
                     </div>
                </div>
                <div class="content-down-items-img02">
                     <img src="{% static 'school/images/UI-folder-editor-sample.png' %}" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     编译原理
                     </div>
                </div>
                <div class="content-down-items-img02">
                    <img src="{% static 'school/images/UI-folder-editor-sample2.png' %}" />
                    <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     数据结构
                     </div>
                </div>
                <div class="content-down-buttom">
                    <img src="{% static 'school/images/sample_proflie_icon.png' %}" />
                    <div class="content-down-name">YU JIAJIA</div>
                    <div class="content-down-buttom-botton">学习</div>
                </div>
                </div>
            </div>
            <div class="content-down-item">
                <div class="content-down-items textLeft">
                <div class="content-down-items-title textLeft">前端工程师</div>
                <div class="content-down-items-img01 textLeft">
                     <img src="{% static 'school/images/profile_sample_image.png' %}" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     算法导论
                     </div>
                </div>
                <div class="content-down-items-img02">
                     <img src="{% static 'school/images/UI-folder-editor-sample.png' %}" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     编译原理
                     </div>
                </div>
                <div class="content-down-items-img02">
                    <img src="{% static 'school/images/UI-folder-editor-sample2.png' %}" />
                    <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     数据结构
                     </div>
                </div>
                <div class="content-down-buttom">
                    <img src="{% static 'school/images/sample_proflie_icon.png' %}" />
                    <div class="content-down-name">YU JIAJIA</div>
                    <div class="content-down-buttom-botton">学习</div>
                </div>
                </div>
            </div>
            <div class="content-down-item">
                <div class="content-down-items textLeft">
                <div class="content-down-items-title textLeft">前端工程师</div>
                <div class="content-down-items-img01 textLeft">
                     <img src="{% static 'school/images/profile_sample_image.png' %}" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     算法导论
                     </div>
                </div>
                <div class="content-down-items-img02">
                     <img src="{% static 'school/images/UI-folder-editor-sample.png' %}" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     编译原理
                     </div>
                </div>
                <div class="content-down-items-img02">
                    <img src="{% static 'school/images/UI-folder-editor-sample2.png' %}" />
                    <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     数据结构
                     </div>
                </div>
                <div class="content-down-buttom">
                    <img src="{% static 'school/images/sample_proflie_icon.png' %}" />
                    <div class="content-down-name">YU JIAJIA</div>
                    <div class="content-down-buttom-botton">学习</div>
                </div>
                </div>
            </div>
            <div class="content-down-item">
                <div class="content-down-items textLeft">
                <div class="content-down-items-title textLeft">前端工程师</div>
                <div class="content-down-items-img01 textLeft">
                     <img src="{% static 'school/images/profile_sample_image.png' %}" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     算法导论
                     </div>
                </div>
                <div class="content-down-items-img02">
                     <img src="{% static 'school/images/UI-folder-editor-sample.png' %}" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     编译原理
                     </div>
                </div>
                <div class="content-down-items-img02">
                    <img src="{% static 'school/images/UI-folder-editor-sample2.png' %}" />
                    <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     数据结构
                     </div>
                </div>
                <div class="content-down-buttom">
                    <img src="{% static 'school/images/sample_proflie_icon.png' %}" />
                    <div class="content-down-name">YU JIAJIA</div>
                    <div class="content-down-buttom-botton">学习</div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}