<!DOCTYPE html>
<html>
<head>
		<title>私学堂 - 搜索结果 - 课程夹</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" href="images/favicon32.ico" type="image/x-icon" >
		<link rel="stylesheet" href="styles/common.css" >
        <link rel="stylesheet" href="styles/searchResults.css" >
		<link href="styles/font-awesome.css" rel="stylesheet">
		<link href="styles/font-awesome.min.css" rel="stylesheet">
		<script type="text/javascript" src="scripts/jquery.js"></script>
        <script type="text/javascript" src="scripts/common.js"></script>
</head>
<body>
	<div class="header">
        <div class="logo"><img src="images/logo_02.png" /></div>
        <div class="search"><input type="text" placeholder="搜索你想要学习的内容" /><div class="searchIcon fa fa-search fa-2x"></div></div>
        <div class="profile">
        <a id="profile" href="#"><img src="images/userPic.png" /></a>
        <ul class="UI-nav">
            <li class="UI-nav-item-down"><a href="#"><img src="images/navUser.png" />&nbsp;&nbsp;个人中心</a></li>
            <li class="navLine"><img src="images/navLine.png" /></li>
            <li class="UI-nav-item-down"><a href="#"><img src="images/navFolder.png" />&nbsp;&nbsp;我的课程夹</a></li>
            <li class="UI-nav-item-down"><a href="#"><img src="images/navNote.png" />&nbsp;&nbsp;我的笔记</a></li>
            <li class="navLine"><img src="images/navLine.png" /></li>
            <li class="UI-nav-item-down"><a href="#"><img src="images/navSetting.png" />&nbsp;&nbsp;帐号设置</a></li>
            <li class="UI-nav-item-down"><a href="#"><img src="images/navExit.png" />&nbsp;&nbsp;退出</a></li>
        </ul>
        </div>
	</div>
	<div id="content">
        <div class="content-top">
            <div class="content-top-item">
                <div class="content-top-items content-top-items-activity">35 课程夹</div>
                <div class="content-top-items content-top-center ">62 课程</div>
                <div class="content-top-items ">22 学习者</div>
            </div>
        </div>
        <div class="content-down">
            <div class="content-down-item">
                <div class="content-down-items textLeft">
                <div class="content-down-items-title textLeft">前端工程师</div>
                <div class="content-down-items-img01 textLeft">
                     <img src="images/profile_sample_image.png" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     算法导论
                     </div>
                </div>
                <div class="content-down-items-img02">
                     <img src="images/UI-folder-editor-sample.png" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     编译原理
                     </div>
                </div>
                <div class="content-down-items-img02">
                    <img src="images/UI-folder-editor-sample2.png" />
                    <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     数据结构
                     </div>
                </div>
                <div class="content-down-buttom">
                    <img src="images/sample_proflie_icon.png" />
                    <div class="content-down-name">YU JIAJIA</div>
                    <div class="content-down-buttom-botton">学习</div>
                </div>
                </div>
            </div>
            <div class="content-down-item">
                <div class="content-down-items textLeft">
                <div class="content-down-items-title textLeft">前端工程师</div>
                <div class="content-down-items-img01 textLeft">
                     <img src="images/profile_sample_image.png" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     算法导论
                     </div>
                </div>
                <div class="content-down-items-img02">
                     <img src="images/UI-folder-editor-sample.png" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     编译原理
                     </div>
                </div>
                <div class="content-down-items-img02">
                    <img src="images/UI-folder-editor-sample2.png" />
                    <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     数据结构
                     </div>
                </div>
                <div class="content-down-buttom">
                    <img src="images/sample_proflie_icon.png" />
                    <div class="content-down-name">YU JIAJIA</div>
                    <div class="content-down-buttom-botton">学习</div>
                </div>
                </div>
            </div>
            <div class="content-down-item">
                <div class="content-down-items textLeft">
                <div class="content-down-items-title textLeft">前端工程师</div>
                <div class="content-down-items-img01 textLeft">
                     <img src="images/profile_sample_image.png" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     算法导论
                     </div>
                </div>
                <div class="content-down-items-img02">
                     <img src="images/UI-folder-editor-sample.png" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     编译原理
                     </div>
                </div>
                <div class="content-down-items-img02">
                    <img src="images/UI-folder-editor-sample2.png" />
                    <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     数据结构
                     </div>
                </div>
                <div class="content-down-buttom">
                    <img src="images/sample_proflie_icon.png" />
                    <div class="content-down-name">YU JIAJIA</div>
                    <div class="content-down-buttom-botton">学习</div>
                </div>
                </div>
            </div>
            <div class="content-down-item">
                <div class="content-down-items textLeft">
                <div class="content-down-items-title textLeft">前端工程师</div>
                <div class="content-down-items-img01 textLeft">
                     <img src="images/profile_sample_image.png" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     算法导论
                     </div>
                </div>
                <div class="content-down-items-img02">
                     <img src="images/UI-folder-editor-sample.png" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     编译原理
                     </div>
                </div>
                <div class="content-down-items-img02">
                    <img src="images/UI-folder-editor-sample2.png" />
                    <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     数据结构
                     </div>
                </div>
                <div class="content-down-buttom">
                    <img src="images/sample_proflie_icon.png" />
                    <div class="content-down-name">YU JIAJIA</div>
                    <div class="content-down-buttom-botton">学习</div>
                </div>
                </div>
            </div>
            <div class="content-down-item">
                <div class="content-down-items textLeft">
                <div class="content-down-items-title textLeft">前端工程师</div>
                <div class="content-down-items-img01 textLeft">
                     <img src="images/profile_sample_image.png" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     算法导论
                     </div>
                </div>
                <div class="content-down-items-img02">
                     <img src="images/UI-folder-editor-sample.png" />
                     <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     编译原理
                     </div>
                </div>
                <div class="content-down-items-img02">
                    <img src="images/UI-folder-editor-sample2.png" />
                    <div class="content-down-items-img01-bg">
                     </div>
                     <div class="content-down-items-img01-name">
                     数据结构
                     </div>
                </div>
                <div class="content-down-buttom">
                    <img src="images/sample_proflie_icon.png" />
                    <div class="content-down-name">YU JIAJIA</div>
                    <div class="content-down-buttom-botton">学习</div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
		<p class="footText">© 2015 私学堂 sixuetang.com 版权所有</p>
	</div>
    <a id="gotop">
        <img src="images/jump.png">
    </a>
</body>
</html>