{% extends 'school/base.html' %}

{% load staticfiles %}

{% block title %}搜索结果 - 课程{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'school/styles/searchResults_c.css' %}" >
{% endblock %}

{% block js_block %}

{% endblock %}

{% block body_block %}
<div id="content">
        <div class="content-top">
            <div class="content-top-item">
                <div class="content-top-items">35 课程夹</div>
                <div class="content-top-items content-top-center content-top-items-activity">62 课程</div>
                <div class="content-top-items ">22 学习者</div>
            </div>
        </div>
        <div class="content-down">
            <div class="content-down-item">
                    <div class="content-down-items">
                        <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-down-items-bg">
                    </div>
                    <div class="content-down-items-name">
                    编译原理
                    </div>
                 </div>
            </div>
                        <div class="content-down-item">
                    <div class="content-down-items">
                        <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-down-items-bg">
                    </div>
                    <div class="content-down-items-name">
                    编译原理
                    </div>
                 </div>
            </div>
            <div class="content-down-item">
                    <div class="content-down-items">
                        <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-down-items-bg">
                    </div>
                    <div class="content-down-items-name">
                    编译原理
                    </div>
                 </div>
            </div>
            <div class="content-down-item">
                    <div class="content-down-items">
                        <img src="{% static 'school/images/Compilers_principles.png' %}" />
                    <div class="content-down-items-bg">
                    </div>
                    <div class="content-down-items-name">
                    编译原理
                    </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}