#content{
    border-top: 58px solid white;
    width:1024px;
    height:691px;
    background-image: url(../images/addCourseBg.png);
}

.content-top{
    padding-top: 95px;
    position: none;
}

.content-top h3{
    font-size: 18px;
    padding-bottom: 12px;
}

.content-top h1{
    font-size: 24px;

}

.content-down{
    width: 568px;
    margin-top: 55px;
    margin-left: 264px;
    margin-right: 264px;
}

.UI-box{
    background-image: url(../images/addCourseBox.png);
    background-repeat: no-repeat;
    width: 221px;
    height: 299px;
    padding-top: 8px;
    padding-left: 10px;
    text-align: left;
}

.UI-box span{
    font-size: 14px;
}

.UI-box img{
    float: right;
    margin-right: 10px;
}
.UI-box1, .UI-box2, .UI-box3{
    background-color: #eee;
    border: 1px solid #cacccd;
}
.UI-box1{
    float: left;
    margin-top: 4px;
    width: 200px;
    height: 123px;
}
.UI-box2, .UI-box3{
    margin-top: 2px;
    width: 99px;
    height: 130px;
    float: left;
    margin-right: 2px;
}

.down-left{
    float: left;
    margin-left: 38px;
    width:  139px;
}
.down-right{
    float: right;
    margin-right: 20px;
    width: 167px;
}
.down-left, .down-right{
    margin-top: 25px;
}
 .UI-button-style01 a{
  text-decoration: none;
}
 .UI-button-style01{
    height: 32px;
    font-size: 18px;
    color: #464344;
    border: 1px solid #464344;
 }
 .UI-button-style01 img{
    padding-left: 2px;
    padding-top: 3px;
    height: 21px;
    width: 21px;
 }
  .skip-button a{
    color: #464344;
  }
 .skip-button{
    margin-top: 25px;
    margin-right: -379px; 
    padding-top: 8px;
    font-size: 14px;
    background-image: url(../images/skip-button.png);
    text-decoration: underline;
    float: right;
    color: #464344;
    width: 151px;
    height: 45px;
    z-index: 999px;
 }
 
 .createrBtn{
   background: none;
   border: none;
   cursor: pointer;
   font-size: 14px;
 }
 
#getTitle{
  display: none;
}