#content{
    border-top: 58px solid white;
    width:1024px;
    height:691px;
    background-image: url(../images/addCourseBg.png);
}

.content-top{
    padding-top: 115px;
    position: none;
}

h3{
    font-size: 18px;
    padding-bottom: 12px;
}

.content-top h1{
    font-size: 24px;

}

.content-down{
    width: 338px;
    height: 200px;
    margin-top: 55px;
    margin-left: 364px;
    margin-right: 394px;
    background-color: white;
    text-align: left;
}
.content-down-item {
  padding-left: 45px;
  padding-top: 15px;
  font-size: 14px;
}
.content-down-item textarea{
    width: 250px;
    margin-top: 8px;
    padding: 3px;
    background:none;
    cursor:pointer; 
    background-color: #eee;
}
.c1{
  height: 23px;
}
.c2{
  height: 46px;
}

#createrBtn, .content-down-item textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid ##dcdcdc;
}
#createrBtn {
  margin-top: -10px;
  width: 80px;
  height: 28px;
  background:none;
  cursor:pointer; 
  background-color: #eee;
}
.UI-box{
    background-image: url(../images/addCourseBox.png);
    background-repeat: no-repeat;
    width: 221px;
    height: 299px;
    padding-top: 8px;
    padding-left: 10px;
    text-align: left;
}

.UI-box span{
    font-size: 14px;
}

.UI-box img{
    float: right;
    margin-right: 10px;
}
.UI-box1, .UI-box2, .UI-box3{
    background-color: #eee;
    border: 1px solid #cacccd;
}
.UI-box1{
    float: left;
    margin-top: 4px;
    width: 200px;
    height: 123px;
}
.UI-box2, .UI-box3{
    margin-top: 2px;
    width: 99px;
    height: 130px;
    float: left;
    margin-right: 2px;
}

.down-left{
    float: left;
    margin-left: 38px;
    width:  139px;
}
.down-right{
    float: right;
    margin-right: 20px;
    width: 167px;
}
.down-left, .down-right{
    margin-top: 25px;
}

 .UI-button-style01{
    height: 32px;
    font-size: 18px;
    color: #464344;
    border: 1px solid #464344;
 }
 .UI-button-style01 img{
    padding-left: 2px;
    padding-top: 3px;
    height: 21px;
    width: 21px;
 }